QScrollArea {
    border: none;
}

QScrollBar {
    background: rgb(36, 42, 51);
    border-radius: 2px;
}

QScrollBar:vertical {
    width: 5px;
}

QScrollBar::handle {
    background: rgb(79,85,92);
}

QScrollBar::handle:vertical {
    width: 5px;
    min-height: 10px;
}

QScrollBar::add-line {
    border: none;
    background: none;
    background-color: rgb(36, 42, 51);
}

QScrollBar::sub-line {
    border: none;
    background: none;
    background-color: rgb(36, 42, 51);
}

QScrollBar::sub-page:vertical {
    background: rgb(36, 42, 51);
}

QScrollBar::add-page:vertical {
    background: rgb(36, 42, 51);
}