QSlider::groove:horizontal {
    border: 0px solid #bbb;
}

QSlider::sub-page:horizontal {
    background: rgb(200, 200, 200);
    border-radius: 7px;
    margin-top: 8px;
    margin-bottom: 8px;
}

QSlider::add-page:horizontal {
    background: rgb(100, 100, 100);
    border: 0px solid #777;
    border-radius: 7px;
    margin-top: 8px;
    margin-bottom: 8px;
}

QSlider::handle:horizontal {
    background: rgba(200, 200, 200, 0);
    border: none;
    width: 14px;
    height: 12px;
    border-radius: 7px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QSlider::groove:horizontal:hover {
    QSlider:: handle:horizontal

{
    background: rgba(200, 200, 200, 100);
    border: 1px solid rgb(200, 200, 200);
}

}

QSlider::handle:horizontal:hover {
    background: white;
    border: 1px solid white;
    border-radius: 7px;
}

QSlider::sub-page:horizontal:disabled {
    background: #bbb;
    border-color: #999;
}

QSlider::add-page:horizontal:disabled {
    background: rgb(80, 80, 80);
    border-color: #999;
}

QSlider::handle:horizontal:disabled {
    background: rgb(150, 150, 150);
    border: 1px solid #aaa;
    border-radius: 7px;
}
